<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563582514401-806bop8l5ef7gjqjort4h3584d97nl72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563582514401-806bop8l5ef7gjqjort4h3584d97nl72</string>
	<key>API_KEY</key>
	<string>AIzaSyBiZDarOLpoXRzPwsFUHr-mQSDqNLkOu7k</string>
	<key>GCM_SENDER_ID</key>
	<string>563582514401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multiproviderbloctesting</string>
	<key>PROJECT_ID</key>
	<string>chatfriendly-f1d49</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfriendly-f1d49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563582514401:ios:d952ffd5316ba2cb2733a0</string>
	<key>DATABASE_URL</key>
	<string>https://chatfriendly-f1d49.firebaseio.com</string>
</dict>
</plist>